<ion-header>

  <ion-navbar>
    <ion-title>ExampleOne</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

	<!-- Normal -->

	<!--<ion-list>
		<ion-item *ngFor="let item of items">

			<ion-thumbnail item-start>
			  <img src="http://placehold.it/75">
			</ion-thumbnail>

			<h2>My Neighbor Totoro</h2>
			<p>Hayao Miyazaki • 1988</p>
			<button ion-button clear item-end>View</button>

		</ion-item>
	</ion-list>-->

	<!-- Virtual Scroll -->

	<!--<ion-list approxItemHeight="100px" [virtualScroll]="items">

		<ion-item *virtualItem="let item">

			<ion-thumbnail item-start>
			  <ion-img src="http://placehold.it/75"></ion-img>
			</ion-thumbnail>

			<h2>My Neighbor Totoro</h2>
			<p>Hayao Miyazaki • 1988</p>
			<button ion-button clear item-end>View</button>

		</ion-item>

	</ion-list>-->

	<!-- Infinite -->

	<ion-list>
		<ion-item *ngFor="let item of items">

			<ion-thumbnail item-start>
			  <img src="http://placehold.it/75">
			</ion-thumbnail>

			<h2>My Neighbor Totoro</h2>
			<p>Hayao Miyazaki • 1988</p>
			<button ion-button clear item-end>View</button>

		</ion-item>
	</ion-list>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>
