page-example-one {

	ion-list {
		padding: 20px;
	}

	ion-item {
		margin-bottom: 20px !important;
	    box-shadow: 3px 2px 8px -1px rgba(107,107,107,0.5) !important;
	    border-radius: 10px !important;   
	}

}
